<!-- Carousel ================================================== -->
<div id="myCarousel" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<%= image_tag "acdc.jpg" %>
			<div class="container">
				<div class="carousel-caption">
					<h1>ACDC</h1>
					<p>estampa maneira</p>
					<p><a class="btn btn-lg btn-default" href="#">Confira</a>
					</p>
				</div>
			</div>
		</div>
		<div class="item">
			<%= image_tag "molejao.jpg" %>
			<div class="container">
				<div class="carousel-caption">
					<h1>Molejão</h1>
					<p>ordinaaaaaria</p>
					<p><a class="btn btn-lg btn-default" href="#">Confira</a></p>
				</div>
			</div>
		</div>
		<div class="item">
			<%= image_tag "http://placehold.it/1500X500" %>
			<div class="container">
				<div class="carousel-caption">
					<h1>Percentage-based sizing</h1>
					<p>With "mobile-first" there is now only one percentage-based grid.</p>
					<p><a class="btn btn-lg btn-default" href="#">Browse gallery</a></p>
				</div>
			</div>
		</div>
	</div>
	<!-- Controls -->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">
		<span class="icon-prev"></span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">
		<span class="icon-next"></span>
	</a>  
</div>
<!-- /.carousel -->

<!-- Begin Body -->
<div class="container">
	<div class="row">

		<div class="col-sm-9">
			<ul class="thumbnail-list">
				<li> <a href="#" class=""><img src="http://placehold.it/400x400" class=""></a>

					<h4 class="">Product Name Product Name Product Name</h4>
					<div class="product-price"> <span class="cut-price">MYR290.00</span>
						<span class="normal-price">MYR230.00</span>

					</div>
					<button type="button" class="btn btn-default navbar-btn">Add to Cart</button>
				</li>
				<li> <a href="#" class=""><img src="http://placehold.it/400x400" class=""></a>

					<h4 class="">Product Name</h4>
					<div class="product-price"> <span class="cut-price">MYR290.00</span>
						<span class="normal-price">MYR230.00</span>

					</div>
					<button type="button" class="btn btn-default navbar-btn">Add to Cart</button>
				</li>
				<li> <a href="#" class=""><img src="http://placehold.it/400x400" class=""></a>

					<h4 class="">Product Name</h4>
					<div class="product-price"> <span class="cut-price">MYR290.00</span>
						<span class="normal-price">MYR230.00</span>

					</div>
					<button type="button" class="btn btn-default navbar-btn">Add to Cart</button>
				</li>
				<li> <a href="#" class=""><img src="http://placehold.it/400x400" class=""></a>

					<h4 class="">Product Name</h4>
					<div class="product-price"> <span class="cut-price">MYR290.00</span>
						<span class="normal-price">MYR230.00</span>

					</div>
					<button type="button" class="btn btn-default navbar-btn">Add to Cart</button>
				</li>
				<li> <a href="#" class=""><img src="http://placehold.it/300x300" class=""></a>

					<h4 class="">Product Name Product Name Product Name Product Name Product Name</h4>
					<div class="product-price"> <span class="cut-price">MYR290.00</span>
						<span class="normal-price">MYR230.00</span>

					</div>
					<button type="button" class="btn btn-default navbar-btn">Add to Cart</button>
				</li>
				<li> <a href="#" class=""><img src="http://placehold.it/400x400" class=""></a>

					<h4 class="">Product Name</h4>
					<div class="product-price"> <span class="cut-price">MYR290.00</span>
						<span class="normal-price">MYR230.00</span>

					</div>
					<button type="button" class="btn btn-default navbar-btn">Add to Cart</button>
				</li>
			</ul>
		</div>
		<div class="col-sm-3 text-center">
			<%= image_tag "sideadd.png", class: "img-responsive img-rounded add tocenter" %>
			<%= image_tag "sideadd.png", class: "img-responsive img-rounded add tocenter" %>
		</div>
	</div>
</div>